**/*.swp

# ncspot
.config/ncspot/*

# qutebrowser stuff idk
.config/qutebrowser/*
!.config/qutebrowser/*config.py
!.config/qutebrowser/greasemonkey

# nnn
.config/nnn/bookmarks
.config/nnn/mounts
.config/nnn/sessions
.config/nnn/.selection
.config/nnn/.lastd

# fish
.config/fish/*
!.config/fish/config.fish
!.config/fish/functions
!.config/fish/conf.d
!.config/fish/completions

*/.emacs.d/*
!*/.emacs.d/init.el
!*/.emacs.d/packages
