**/*.swp

# no need to have this file ncspot generates
.config/ncspot/userstate.cbor

# I only need to back up SOME darktable files
.config/darktable/data.db-*
.config/darktable/data.db.lock
.config/darktable/library.db*

# qutebrowser stuff idk
.config/qutebrowser/bookmarks
.config/qutebrowser/greasemonkey
.config/qutebrowser/qsettings

# nnn
.config/nnn/bookmarks
.config/nnn/mounts
.config/nnn/sessions
.config/nnn/.selection

# prepare for likely Vieb configs soon
.config/Vieb/Crashpad
.config/Vieb/favicons
.config/Vieb/Local*
.config/Vieb/Partitions
.config/Vieb/*hist
.config/Vieb/Network*
.config/Vieb/tabs
.config/Vieb/windowstate
