**/*.swp

# ncspot
.config/ncspot/*
!.config/ncspot/config.toml

# qutebrowser stuff idk
.config/qutebrowser/*
!.config/qutebrowser/*config.py
!.config/qutebrowser/greasemonkey

# nnn
.config/nnn/bookmarks
.config/nnn/mounts
.config/nnn/sessions
.config/nnn/.selection

# Vieb, if I end up trying it again
# .config/Vieb/*
# !.config/Vieb/extensions
# !.config/Vieb/blocklists
# !.config/Vieb/viebrc
# !.config/Vieb/colors
# !.config/Vieb/ignore
