xgen.fontmono: Iosevka
xgen.fontsans: FreeSans

! special
*.foreground:   #000000
*.background:   #ffffff
*.cursorColor:  #000000

! black
*.color0:       #efefef
*.color8:       #c0c0c0

! red
*.color1:       #a0342f
*.color9:       #a0342f

! green
*.color2:       #065905
*.color10:      #065905

! yellow
*.color3:       #999950
*.color11:      #999950

! blue
*.color4:       #007ed6
*.color12:      #007ed6

! magenta
*.color5:       #8888cc
*.color13:      #8888cc

! cyan
*.color6:       #57a8a8
*.color14:      #57a8a8

! white
*.color7:       #777777
*.color15:      #000000

! alt colours
*.lightfg:      #000000
*.lightbg:      #ffffea
*.light0:       #eeee9e
*.light8:       #eeee9e
*.light15:      #444444

! *.darkfg:      #ffffff
! *.darkbg:      #000000
! *.dark0:       #000000
! *.dark8:       #000000
! *.dark15:      #efefef
