xgen.fontmono: Iosevka
xgen.fontsans: Fira

! solarized
! special
*.foreground:   #93a1a1
*.background:   #002b36
*.cursorColor:  #93a1a1

! black
*.color0:       #073642
*.color8:       #224750

! red
*.color1:       #dc322f
*.color9:       #dc322f

! green
*.color2:       #859900
*.color10:      #859900

! yellow
*.color3:       #b58900
*.color11:      #b58900

! blue
*.color4:       #268bd2
*.color12:      #268bd2

! magenta
*.color5:       #6c71c4
*.color13:      #6c71c4

! cyan
*.color6:       #2aa198
*.color14:      #2aa198

! white
*.color7:       #657b83
*.color15:      #839496

! alt colours for light mode
*.lightfg:      #586e75
*.lightbg:      #eee8d5
*.light0:       #e2dac1
*.light8:       #c6bc9f
*.light15:      #657b83
