/*                                                                    */
/*_|          _|    _|_|    _|      _|  _|_|_|      _|_|    _|_|_|    */
/*_|          _|  _|    _|    _|  _|    _|    _|  _|    _|  _|    _|  */
/*_|    _|    _|  _|_|_|_|      _|      _|_|_|    _|_|_|_|  _|_|_|    */
/*  _|  _|  _|    _|    _|      _|      _|    _|  _|    _|  _|    _|  */
/*    _|  _|      _|    _|      _|      _|_|_|    _|    _|  _|    _|  */
/*                                                                    */
/*                                                                    */
/**/
/**/
/**/

* {
    border: none;
    border-radius: 0;
    font-family: "Fira Sans", "Iosevka NerdFont";
    min-height: 25px;
}

window#waybar {
    padding: 0px;
    margin: 0px;
    background: $(wq background);
    color: $(wq foreground);
    border-bottom: 2px solid $(wq color0);
}

#window {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 13px;
    transition: none;
}

#workspaces {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    transition: none;
    padding: 0px 0px 0px 10px;
    background: transparent;
}

#workspaces button {
    transition: none;
    padding-left: 13px;
    padding-right: 13px;
    color: $(wq color7);
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.focused {
    transition: none;
    border-radius: 13px;
    background: $(wq color0);
    color: $(wq foreground);
}


#cpu {
    color: transparent;
    margin: 0px;
    padding: 0px;
}
#cpu.warning {
    padding: 0px 14px;
    border-radius: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    color: $(wq color3);
    background: $(wq color0);
}
#cpu.critical {
    padding: 0px 14px;
    border-radius: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    color: $(wq color1);
    background: $(wq color0);
}


#custom-clock {
    color: $(wq color15);
}


#battery {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 0px 0px;
}

#battery.discharging {
    color: $(wq color15);
}

#battery.charging {
    padding: 0px 14px;
    border-radius: 13px;
    background: $(wq color0);
    color: $(wq color2);
}

#battery.warning {
    color: $(wq color3);
}

#battery.critical {
    padding: 0px 14px;
    border-radius: 13px;
    background: $(wq color1);
    color: $(wq color0);
}


#network {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px 20px 0px 0px;
    color: $(wq color15);
}
#network.disconnected #network.disabled {
    color: $(wq color1);
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 13px;
    background: $(wq color0);
}


#pulseaudio {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px 0px;
    color: $(wq color15);
}

#pulseaudio.muted {
    color: $(wq color7);
}

#pulseaudio.bluetooth {
    padding: 0px 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 13px;
    background: $(wq color0);
    color: $(wq color4);
}

#pulseaudio.bluetooth.muted {
    color: $(wq color7);
}
