/*                                                                    */
/*_|          _|    _|_|    _|      _|  _|_|_|      _|_|    _|_|_|    */
/*_|          _|  _|    _|    _|  _|    _|    _|  _|    _|  _|    _|  */
/*_|    _|    _|  _|_|_|_|      _|      _|_|_|    _|_|_|_|  _|_|_|    */
/*  _|  _|  _|    _|    _|      _|      _|    _|  _|    _|  _|    _|  */
/*    _|  _|      _|    _|      _|      _|_|_|    _|    _|  _|    _|  */
/*                                                                    */
/*                                                                    */
/**/
/**/
/**/

* {
    border: none;
    border-radius: 0;
    font-family: "$(wq fontsans)", "$(wq fontmono) NerdFont";
    box-shadow: inherit;
    text-shadow: inherit;
    min-height: 20px;
}

/* For a solid bar: */
    /* margin-top: 12px; */
    /* margin-bottom: 0px; */

window#waybar {
    padding: 0px;
    margin: 0px;
    /* background: $(wq background); */
    background: transparent;
    color: $(wq foreground);
    /* border-bottom: 2px solid $(wq color0); */
    /* border-bottom: 1px solid $(pastel darken 0.02 $(wq background) | pastel format hex); */
}

#window {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 13px;
    transition: none;
}

#workspaces {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    transition: none;
    padding: 0px 0px 0px 10px;
    background: transparent;
}

#workspaces button {
    transition: none;
    /* padding-left: 13px; */
    padding-left: 6px;
    /* padding-right: 13px; */
    padding-right: 6px;
    /* color: $(wq color7); */
    color: $(wq color7);
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.active {
    transition: none;
    /* border-radius: 10px; */
    /* background: $(wq color0); */
    color: $(wq foreground);
}

#workspaces button.focused {
    transition: none;
    /* border-radius: 10px; */
    /* background: $(wq color0); */
    color: $(wq color6);
    font-weight: bold;
}

#tags {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    transition: none;
    padding: 0px 0px 0px 10px;
    background: transparent;
}
#tags button {
    transition: none;
    padding-left: 6px;
    padding-right: 6px;
    color: $(pastel mix $(wq color8) $(wq color7) | pastel format hex);
    /* color: $(wq color7); */
}
#tags button:hover {
    background: transparent;
}
#tags button.occupied {
    transition: none;
    color: $(wq color7);
    /* color: $(pastel mix $(wq color8) $(wq color7) | pastel format hex); */
}
#tags button.urgent {
    transition: none;
    color: $(wq color1);
}
#tags button.focused {
    transition: none;
    color: $(wq color6);
    /* color: $(wq foreground); */
    font-weight: bold;
}

#cpu {
    color: transparent;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-right: 6px;
    /* border-radius: 10px; */
    padding: 0px 10px;
}
#cpu.warning {
    color: $(wq color3);
    /* background: $(wq color0); */
}
#cpu.critical {
    color: $(wq color1);
    /* background: $(wq color0); */
}

#custom-clock {
    margin-top: 12px;
    margin-bottom: 0px;
    color: $(wq color15);
}


#battery {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-right: 6px;
    margin-left: 0px;
    padding: 0px 9px;
}

#battery.discharging {
    color: $(wq color15);
}

#battery.charging {
    /* padding: 0px 14px; */
    /* border-radius: 10px; */
    /* background: $(wq color0); */
    color: $(wq color2);
}

#battery.warning {
    color: $(wq color5);
}

#battery.critical {
    /* padding: 0px 14px; */
    /* border-radius: 10px; */
    /* background: $(wq color1); */
    color: $(wq color1);
}


#network {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: $(wq color15);
}
#network.disconnected #network.disabled {
    color: $(wq color1);
    /* border-radius: 10px; */
    /* background: $(wq color0); */
    /* padding-left: 9px; */
    /* padding-right: 15px; */
}


#pulseaudio {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0px 10px;
    color: $(wq color15);
}

#pulseaudio.muted {
    color: $(wq color7);
}

#pulseaudio.bluetooth {
    /* padding: 0px 16px; */
    /* border-radius: 10px; */
    /* background: $(wq color0); */
    color: $(wq color4);
}

#pulseaudio.bluetooth.muted {
    color: $(wq color7);
}
