/*                                                                    */
/*_|          _|    _|_|    _|      _|  _|_|_|      _|_|    _|_|_|    */
/*_|          _|  _|    _|    _|  _|    _|    _|  _|    _|  _|    _|  */
/*_|    _|    _|  _|_|_|_|      _|      _|_|_|    _|_|_|_|  _|_|_|    */
/*  _|  _|  _|    _|    _|      _|      _|    _|  _|    _|  _|    _|  */
/*    _|  _|      _|    _|      _|      _|_|_|    _|    _|  _|    _|  */
/*                                                                    */
/*                                                                    */
/**/
/**/
/**/

* {
    border: none;
    border-radius: 0;
    font-family: "FreeSans", "Iosevka NerdFont";
    box-shadow: inherit;
    text-shadow: inherit;
    min-height: 20px;
}

/* For a transparent bar: */
    /* margin-top: 7px; */
    /* margin-bottom: 6px; */
/* For a solid bar: */
    /* margin-top: 7px; */
    /* margin-bottom: 6px; */

window#waybar {
    padding: 0px;
    margin: 0px;

    background: #ffffff;
    color: #000000;
    border-bottom: 2px solid #777777;

    /* background: transparent; */
    /* color: #ffffff; */

    /* border-bottom: 2px solid #efefef; */
    /* border-bottom: 1px solid #000000; */
}

#window {
    margin-top: 0px;
    margin-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 13px;
    transition: none;
}

#workspaces {
    margin-top: 7px;
    margin-bottom: 6px;
    margin-left: 8px;
    margin-right: 8px;
    transition: none;
    padding: 0px 0px 0px 10px;
    background: transparent;
}

#workspaces button {
    transition: none;
    /* padding-left: 13px; */
    padding-left: 6px;
    /* padding-right: 13px; */
    padding-right: 6px;
    /* color: #777777; */
    color: #777777;
    font-weight: normal;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.active {
    transition: none;
    /* border-radius: 10px; */
    /* background: #efefef; */
    /* color: #ffffff; */
}

#workspaces button.focused {
    transition: none;
    /* border-radius: 10px; */
    /* background: #efefef; */
    /* color: #57a8a8; */
    color: #000000;
    font-weight: bold;
}

#tags {
    margin-top: 7px;
    margin-bottom: 6px;
    margin-left: 8px;
    margin-right: 8px;
    transition: none;
    padding: 0px 0px 0px 10px;
    background: transparent;
}
#tags button {
    transition: none;
    padding-left: 6px;
    padding-right: 6px;
    color: #c0c0c0;
    font-weight: normal;
}
#tags button:hover {
    background: transparent;
}
#tags button.occupied {
    transition: none;
    color: #777777;
    font-weight: normal;
}
#tags button.urgent {
    transition: none;
    color: #a0342f;
}
#tags button.focused {
    transition: none;
    color: #000000;
    font-weight: bold;
}

#cpu {
    color: transparent;
    margin-top: 7px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    /* border-radius: 10px; */
    padding: 0px 10px;
}
#cpu.warning {
    /* color: #999950; */
    color: #777777;
    /* background: #efefef; */
}
#cpu.critical {
    /* color: #a0342f; */
    color: #000000;
    /* background: #efefef; */
}

#custom-clock {
    margin-top: 7px;
    margin-bottom: 6px;
    color: #000000;
}


#custom-battery {
    margin-top: 7px;
    margin-bottom: 6px;
    margin-right: 6px;
    margin-left: 0px;
    padding: 0px 9px;
}

#battery {
    margin-top: 7px;
    margin-bottom: 6px;
    margin-right: 6px;
    margin-left: 0px;
    padding: 0px 9px;
}

#battery.discharging {
    color: #000000;
}

#battery.charging {
    /* padding: 0px 14px; */
    /* border-radius: 10px; */
    /* background: #efefef; */
    /* color: #065905; */
    color: #000000;
}

#battery.warning {
    /* color: #8888cc; */
    color: #000000;
}

#battery.critical {
    /* padding: 0px 14px; */
    /* border-radius: 10px; */
    /* background: #a0342f; */
    /* color: #a0342f; */
    color: #000000;
}


#network {
    margin-top: 7px;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #000000;
}
#network.disconnected #network.disabled {
    /* color: #a0342f; */
    /* border-radius: 10px; */
    /* background: #efefef; */
    /* padding-left: 9px; */
    /* padding-right: 15px; */
}


#pulseaudio {
    margin-top: 7px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0px 10px;
    color: #000000;
}

#pulseaudio.muted {
    /* color: #777777; */
    color: #777777;
}

#pulseaudio.bluetooth {
    /* padding: 0px 16px; */
    /* border-radius: 10px; */
    /* background: #efefef; */
    /* color: #007ed6; */
}

#pulseaudio.bluetooth.muted {
    /* color: #777777; */
    color: #777777;
}
