/*                                                                    */
/*_|          _|    _|_|    _|      _|  _|_|_|      _|_|    _|_|_|    */
/*_|          _|  _|    _|    _|  _|    _|    _|  _|    _|  _|    _|  */
/*_|    _|    _|  _|_|_|_|      _|      _|_|_|    _|_|_|_|  _|_|_|    */
/*  _|  _|  _|    _|    _|      _|      _|    _|  _|    _|  _|    _|  */
/*    _|  _|      _|    _|      _|      _|_|_|    _|    _|  _|    _|  */
/*                                                                    */
/*                                                                    */
/**/
/**/
/**/

* {
    border: none;
    border-radius: 0;
    font-family: "Fira Sans", "Iosevka NerdFont";
    /* min-height: 30px; */
    min-height: 0px;
    box-shadow: inherit;
    text-shadow: inherit;
}

window#waybar {
    padding: 0px;
    margin: 0px;
    background: #002b36;
    color: #93a1a1;
    border-bottom: 2px solid #073642;
}

#window {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 13px;
    transition: none;
}

#workspaces {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    transition: none;
    padding: 0px 0px 0px 10px;
    background: transparent;
}

#workspaces button {
    transition: none;
    padding-left: 13px;
    padding-right: 13px;
    color: #657b83;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.focused {
    transition: none;
    border-radius: 13px;
    background: #073642;
    color: #93a1a1;
}


#cpu {
    color: transparent;
    margin: 0px;
    padding: 0px;
}
#cpu.warning {
    padding: 0px 14px;
    border-radius: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    color: #b58900;
    background: #073642;
}
#cpu.critical {
    padding: 0px 14px;
    border-radius: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    color: #dc322f;
    background: #073642;
}


#custom-clock {
    color: #839496;
}


#battery {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 0px 0px;
}

#battery.discharging {
    color: #839496;
}

#battery.charging {
    padding: 0px 14px;
    border-radius: 13px;
    background: #073642;
    color: #859900;
}

#battery.warning {
    color: #b58900;
}

#battery.critical {
    padding: 0px 14px;
    border-radius: 13px;
    background: #dc322f;
    color: #073642;
}


#network {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px 20px 0px 0px;
    color: #839496;
}
#network.disconnected #network.disabled {
    color: #dc322f;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 13px;
    background: #073642;
}


#pulseaudio {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px 0px;
    color: #839496;
}

#pulseaudio.muted {
    color: #657b83;
}

#pulseaudio.bluetooth {
    padding: 0px 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 13px;
    background: #073642;
    color: #268bd2;
}

#pulseaudio.bluetooth.muted {
    color: #657b83;
}
