/*                                                                    */
/*_|          _|    _|_|    _|      _|  _|_|_|      _|_|    _|_|_|    */
/*_|          _|  _|    _|    _|  _|    _|    _|  _|    _|  _|    _|  */
/*_|    _|    _|  _|_|_|_|      _|      _|_|_|    _|_|_|_|  _|_|_|    */
/*  _|  _|  _|    _|    _|      _|      _|    _|  _|    _|  _|    _|  */
/*    _|  _|      _|    _|      _|      _|_|_|    _|    _|  _|    _|  */
/*                                                                    */
/*                                                                    */
/**/
/**/
/**/

* {
    border: none;
    border-radius: 0;
    font-family: "FreeSans", "Iosevka NerdFont";
    box-shadow: inherit;
    text-shadow: inherit;
    min-height: 20px;
}

window#waybar {
    padding: 0px;
    margin: 0px;
    background: #002b36;
    color: #93a1a1;
    border-bottom: 2px solid #073642;
}

#window {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 13px;
    transition: none;
}

#workspaces {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 8px;
    margin-right: 8px;
    transition: none;
    padding: 0px 0px 0px 10px;
    background: transparent;
}

#workspaces button {
    transition: none;
    /* padding-left: 13px; */
    padding-left: 6px;
    /* padding-right: 13px; */
    padding-right: 6px;
    /* color: #657b83; */
    color: #446069;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.focused {
    transition: none;
    /* border-radius: 10px; */
    /* background: #073642; */
    color: #93a1a1;
}


#cpu {
    color: transparent;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    /* border-radius: 10px; */
    padding: 0px 10px;
}
#cpu.warning {
    color: #b58900;
    /* background: #073642; */
}
#cpu.critical {
    color: #dc322f;
    /* background: #073642; */
}


#custom-clock {
    color: #839496;
}


#battery {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    margin-left: 0px;
    padding: 0px 9px;
}

#battery.discharging {
    color: #839496;
}

#battery.charging {
    /* padding: 0px 14px; */
    /* border-radius: 10px; */
    /* background: #073642; */
    color: #859900;
}

#battery.warning {
    color: #6c71c4;
}

#battery.critical {
    /* padding: 0px 14px; */
    /* border-radius: 10px; */
    /* background: #dc322f; */
    color: #dc322f;
}


#network {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: #839496;
}
#network.disconnected #network.disabled {
    color: #dc322f;
    /* border-radius: 10px; */
    /* background: #073642; */
    /* padding-left: 9px; */
    /* padding-right: 15px; */
}


#pulseaudio {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0px 10px;
    color: #839496;
}

#pulseaudio.muted {
    color: #657b83;
}

#pulseaudio.bluetooth {
    /* padding: 0px 16px; */
    /* border-radius: 10px; */
    /* background: #073642; */
    color: #268bd2;
}

#pulseaudio.bluetooth.muted {
    color: #657b83;
}
