:root {
    --fg: #dce0ef;
    --bg: #1a1b26;
    --black: #2d2f43;
    --red: #f7768e;
    --green: #6ace86;
    --orange: #EC937B;
    --yellow: #e0af68;
    --blue: #7aa2f7;
    --magenta: #9a7ecc;
    --cyan: #4a95ba;
    --grey: #70738f;
    --xcolor15: #acb0d0;

    --sans: Fira Sans;
    --mono: Iosevka;

    --br: 2em;
}


/* ------------------------------------------------------------------------- */
/* Set blank page background-color */
/* Uses color from theme_colors if available */

#tabbrowser-tabpanels{
  background-color: var(--bg) !important;
}


/* ------------------------------------------------------------------------- */
/* background colour of selected tab */
.tab-background[selected="true"] {
    background-color: var(--black) !important;
    background-image: none !important;
}


/* ------------------------------------------------------------------------- */
* {
    font-family: var(--sans);
    font-size: 16px;
}


/* ------------------------------------------------------------------------- */
/* Modifies the urlbar text color based on connection type - "normal" https: won't be mdofied */
/* Mixed content including neterror */
#identity-box[pageproxystate="valid"].unknownIdentity ~ .urlbar-input-box{ color: var(--orange) }
/* http: and potentially some other insecure connections like ftp: */
#identity-box[pageproxystate="valid"].notSecure ~ .urlbar-input-box{ color: var(--red) }
/* Extension pages */
#identity-box[pageproxystate="valid"].extensionPage ~ .urlbar-input-box{ color: var(--magenta) }
/* Internal about: and chrome:// urls (includes reader-view) */
#identity-box[pageproxystate="valid"].localResource ~ .urlbar-input-box,
#identity-box[pageproxystate="valid"].chromeUI ~ .urlbar-input-box{ color: var(--blue) }


/* ------------------------------------------------------------------------- */
/* Make bunch of things in the main UI round */

:root{ --toolbarbutton-border-radius: 24px !important }
#urlbar-input-container > box:hover,
#urlbar-input-container > box[open],
#main-menubar >  menu,
.titlebar-button:hover,
#scrollbutton-up,
#scrollbutton-down,
.tab-close-button,
.close-icon > image,
#page-action-buttons > :hover,
.panel-arrowcontent,
.urlbarView-row-inner,
.search-one-offs button,
.subviewbutton-back,
.toolbaritem-combined-buttons > toolbarbutton,
#PopupSearchAutoComplete,
menupopup{ border-radius: 18px }

button,
.tab-background{ border-radius: 30px !important; }

.panel-arrowcontent{ margin-inline-end: 0 !important; }
.panel-arrow{ margin-inline: 17px !important; }

menupopup{ -moz-appearance: none !important; overflow: -moz-hidden-unscrollable !important; }

.tabbrowser-tab[selected]::after,
.tabbrowser-tab[beforeselected-visible]::after{ border-color: transparent !important; }

#nav-bar{ box-shadow: none !important; margin-top: 3px }
.tab-line{ display: none }

.tab-background[selected]{ border-top-width: 2px !important; border-top-color: var(--tab-line-color) !important; }
.tabbrowser-tab[selected]{ z-index: auto !important; }

.urlbar-icon,
toolbar toolbarbutton:not(#back-button):not(.bookmark-item):not(.titlebar-button) > .toolbarbutton-icon{  border-radius: 0px !important; clip-path: circle() }

menugroup:hover > menuitem{ clip-path: circle() }


/* ------------------------------------------------------------------------- */
/* Page action-buttons "slide in" when cursor is on top of them and don't reserve space when not used */

#page-action-buttons{ padding-inline-start: 8px }

.urlbar-page-action{
  margin-inline-end: calc(-10px - 2 * var(--urlbar-icon-padding) );
  opacity: 0;
  transition: margin-inline-end 100ms linear, opacity 200ms linear;
}

#page-action-buttons:hover > .urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open] ~ .urlbar-page-action{
  opacity: 1;
  margin-inline-end: 0px !important;
}

/* ------------------------------------------------------------------------- */
/* Show a number before tab text*/

.tab-text::before{
    content: counter(nth-tab) " ";
    counter-increment: nth-tab;
    font-family: var(--mono) !important;
    color: #f7768e; /* red */
    border-radius: 16px;
    padding-left: 8px;
    margin-right: 25px;
}
.tabbrowser-tab:first-child{ counter-reset: nth-tab 0 } /* Change to -1 for 0-indexing */
.tabbrowser-tab[selected] .tab-text::before{
    content: counter(nth-tab) " ";
    counter-increment: nth-tab;
    font-family: var(--mono) !important;
    color: #7aa2f7; /* cyan */
    /* background-color: #4e5173; */
    border-radius: 16px;
    padding-left: 8px;
    margin-right: 25px;
}


/* ------------------------------------------------------------------------- */
/* Make urlbar popup appear full size like it did before urlbar re-design */
/* Temporary dummy variables, can probably be removed when Fx92 releases */
#urlbar {
    padding-left: 13px !important;
}
:root{
  --toolbar-field-background-color: var(--toolbar-field-non-lwt-bgcolor);
  --toolbar-field-focus-background-color: var(--lwt-toolbar-field-focus,Field);
}
:root:-moz-lwtheme{
  --toolbar-field-background-color: var(--lwt-toolbar-field-background-color);
}

.urlbarView-row-inner{
   /* This sets how far the dropdown-items are from window edge */
  padding-inline-start: 6px !important;
}

#urlbar-container,
#urlbar{
  position: static !important;
  display: -moz-box !important;
}
#urlbar{
  height: auto !important;
  width: auto !important;
  box-shadow: inset 0 0 0 1px var(--toolbar-field-border-color, hsla(240,5%,5%,.25));
  background-color: var(--toolbar-field-background-color, hsla(0,0%,100%,.8));
  border-radius: var(--toolbarbutton-border-radius);
  --uc-urlbar-min-width: none; /* navbar_tabs_oneliner.css compatibility */
}

#urlbar[focused]{ box-shadow: inset 0 0 0 1px var(--toolbar-field-focus-border-color, highlight); }

.urlbarView{
  position: absolute !important;
  margin: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  border-width: 1px 0;
  top: var(--urlbar-toolbar-height);
  background-color: var(--toolbar-field-focus-background-color, inherit);
  z-index: 4;
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

#urlbar > #urlbar-input-container{ padding: 0px !important; width: auto !important; height: auto !important; }
#urlbar > #urlbar-background{ display: none !important; }

/* This may seem pretty weird, but it gets around an issue where the height of urlbar may suddenly change when one starts typing into it */
/* If you are otherwise modifying the urlbar height then you might need to modify the height of this too */
#urlbar > #urlbar-input-container::before{ content: ""; display: -moz-box; height: 24px; }



/* ------------------------------------------------------------------------- */
/* oneliner stuff */
/* MIN MAX CLOSE Remove */
#TabsToolbar > .titlebar-buttonbox-container {
  visibility: collapse !important;}

/*Basic Settings*/


:root {
  --navbarWidth     : 25vw; /* Set width of navbar. Use px for a fixed width
                                or vw for a percentage of your window. */
  --animationSpeed  : 0.15s;
}


#TabsToolbar {
  margin-left : var(--navbarWidth) !important;
}

#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
}

#urlbar-container {
  min-width   : 0px !important;
}

:root[uidensity="compact"] #nav-bar {
  margin-top  : -37px !important;
  height      : 37px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top  : -44px !important;
  height      : 44px !important;
}

:root[uidensity="touch"] #nav-bar {
  margin-top  : -49px !important;
  height      : 49px !important;
}


/* Back Hide */
#back-button[disabled="true"] { display: none !important }

/* Forward Hide */
#forward-button[disabled="true"] { display: none !important }

/* Site information button */
#identity-box { display: none !important }

/* "Shield" icon */
#tracking-protection-icon-container { display: none !important }


/* Simplifying interface */

#nav-bar {
  background  : none !important;
  box-shadow  : none !important;
}

#navigator-toolbox {
  border      : none !important;
}

.titlebar-spacer {
  display     : none !important;
}

#urlbar-background {
  border      : none !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow  : none !important;
  background  : none !important;
}


/* Element Hiding stuff */

.urlbar-icon, #userContext-indicator, #userContext-label {
  fill        : transparent !important;
  background  : transparent !important;
  color       : transparent !important;
}

/* #urlbar:hover .urlbar-icon, */
/* #urlbar:active .urlbar-icon, */
/* #urlbar[focused] .urlbar-icon { */
/*   fill        : var(--toolbar-color) !important; */
/* } */

/*================== TABS BAR ==================*/

/* #titlebar #TabsToolbar { */
/*   background: rgba(var(--dark-color), 1) !important; */
/* } */


#PersonalToolbar {
  /* background: rgba(var(--dark-color), 1) !important; */
  /* color: rgba(var(--dark-color), 1) !important; */
  padding-bottom: 6px !important;
  padding-top: 1px !important;
}

toolbar#nav-bar {
  /* background: rgba(var(--dark-color), 1) !important; */
  box-shadow: none !important;
  padding-bottom: 4px !important;
}

/*================ DARK THEME ================*/
/* :root:-moz-lwtheme-brighttext, */
/* .sidebar-panel[lwt-sidebar-brighttext], */
/* body[lwt-sidebar-brighttext] { */
/* 	--main-bgcolor: var(--dark-color); */
/* 	--transparent-bgcolor: var(--dark-color); */
/* } */

/* tab[selected="true"] .tab-content { */
/*   color: rgba(var(--secondary-accent-color), 1) !important; */
/* } */

/* tab[selected="true"] .tab-background { */
/*   background: rgba(var(--accent-color), 1) !important; */
/* } */
.tabbrowser-tab>.tab-stack>.tab-background:not([selected="true"]) {
  transition: all 0s ease !important;
}

/* .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]) { */
/*   background-color: rgba(var(--transparent-bgcolor), 0.7) !important; */
/* } */

.tab-line {
  height: 0px !important;
}

.tabbrowser-tab {
  margin-right: 5px !important;
}

/* .tabbrowser-tab:not([visuallyselected="true"]), */
/* .tabbrowser-tab:-moz-lwtheme { */
/*   color: rgba(var(--secondary-accent-color), 1) !important; */
/* } */

/* tab[selected="true"] .tab-content { */
/*   color: rgba(var(--secondary-accent-color), 1) !important; */
/* } */

/* tab[selected="true"] .tab-background { */
/*   background: rgba(var(--accent-color), 1) !important; */
/* } */

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 0 !important;
  opacity: 0 !important;
}

.tab-close-button {
  transition: all 0.3s ease !important;
  border-radius: 4px !important;
}

.tab-icon-sound-label {
    display: none !important;
}
