/* COLORS
*/
:root {
    /* general */
    --bg: #eee8d5;
    --fg: #586e75;
    --tab-lightbg: #eee8d5;
    --tab-suspended: #657b83;
    --visible-tab: #e2dac1;
    --tab-split: #c6bc9f;
    --tab-audio: #268bd2;
    --tab-muted: #586e75;
    --tab-muted-playing: #b58900;
    --tab-crashed: #dc322f;
    --tab-scrollbar: #2aa198;
    --container-lightbg: none;
    --mode-normal-fg: #657b83;
    --mode-normal-bg: none;
    --mode-command-fg: #dc322f;
    --mode-command-bg: none;
    --mode-insert-fg: #859900;
    --mode-insert-bg: none;
    --mode-follow-fg: #6c71c4;
    --mode-follow-bg: none;
    --mode-explore-fg: #2aa198;
    --mode-explore-bg: none;
    --mode-search-fg: #b58900;
    --mode-search-bg: none;
    --mode-pointer-fg: #268bd2;
    --mode-pointer-bg: #586e75;
    --mode-visual-fg: #eee8d5;
    --mode-visual-bg: #268bd2;
    --url-default: #eee8d5;
    --url-search: #b58900;
    --url-searchwords: #6c71c4;
    --url-url: #2aa198;
    --url-suggest: #859900;
    --url-file: #859900;
    --url-invalid: #dc322f;
    --follow-text: #e2dac1;
    --follow-url-bg: #268bd2;
    --follow-url-border: #268bd2;
    --follow-url-hover: #268bd277;
    --follow-click-bg: #6c71c4;
    --follow-click-border: #6c71c4;
    --follow-click-hover: #6c71c477;
    --follow-insert-bg: #859900;
    --follow-insert-border: #859900;
    --follow-insert-hover: #85990077;
    --follow-onclick-bg: #b58900;
    --follow-onclick-border: #b58900;
    --follow-onclick-hover: #b5890077;
    --follow-media-bg: #6c71c4;
    --follow-media-border: #6c71c4;
    --follow-media-hover: #6c71c477;
    --follow-image-bg: #dc322f;
    --follow-image-border: #dc322f;
    --follow-image-hover: #dc322f77;
    --follow-other-bg: #586e75;
    --follow-other-border: #586e75;
    --follow-other-hover: #586e7577;
    --suggestions-border: #e2dac1;
    --suggestions-bg: #e2dac1;
    --suggestions-selected: #c6bc9f;
    --suggestions-searchwords: #6c71c4;
    --suggestions-url: #268bd2;
    --suggestions-file: #b58900;
    --notification-border: #e2dac1;
    --notification-date: #657b83;
    --notification-permission: #657b83;
    --notification-error: #dc322f;
    --notification-warning: #b58900;
    --notification-info: #268bd2;
    --notification-success: #859900;
    --url-hover-fg: #eee8d5;
    --url-hover-bg: #586e7599;
    --screenshot-highlight: #268bd2;
    /* special pages */
    --link-color: #268bd2;
    --link-underline: #e2dac1;
    --scrollbar-bg: #e2dac1;
    --scrollbar-thumb: #586e7599;
    --button-disabled: #657b83;
    --code-fg: #586e75;
    --code-bg: #e2dac1;
    --code-command: #dc322f;
    --placeholder-text: #657b83;
    --special-page-element-bg: #e2dac1;
    --special-page-element-border: #e2dac1;
    --input-unfocused: #c6bc9f;
    --input-focused: #657b83;
    --download-progress-fg: #657b83;
    --download-progress-bg: #c6bc9f;
    --helppage-h1: #dc322f;
    --helppage-h2: #dc322f;
    --helppage-h3: #dc322f;
    --helppage-countable: #b58900;
    --helppage-range-compat: #b58900;
}


/*
 * GLOBAL
*/
body {color: var(--fg);font: 14px "IosevkaCustom", monospace;padding: 0;margin: 0;opacity: 0;}
