 * COLORS
*/
:root {
    /* general */
    --bg: #333;
    --fg: #eee;
    --tab-background: #444;
    --tab-suspended: #000;
    --visible-tab: #666;
    --tab-split: #f90;
    --tab-audio: #09f;
    --tab-muted: #fff;
    --tab-muted-playing: #ff3;
    --tab-crashed: #f00;
    --tab-scrollbar: #5ff;
    --container-background: none;
    --mode-normal-fg: #eee;
    --mode-normal-bg: none;
    --mode-command-fg: #f33;
    --mode-command-bg: none;
    --mode-insert-fg: #3f3;
    --mode-insert-bg: none;
    --mode-follow-fg: #f3f;
    --mode-follow-bg: none;
    --mode-explore-fg: #3ff;
    --mode-explore-bg: none;
    --mode-search-fg: #ff3;
    --mode-search-bg: none;
    --mode-pointer-fg: #777;
    --mode-pointer-bg: #fff;
    --mode-visual-fg: #000;
    --mode-visual-bg: #3af;
    --url-default: #666;
    --url-search: #f90;
    --url-searchwords: #fcf;
    --url-url: #3ff;
    --url-suggest: #3f3;
    --url-file: #ff9;
    --url-invalid: #f33;
    --follow-text: #111;
    --follow-url-bg: #bff;
    --follow-url-border: #7dd;
    --follow-url-hover: #7dd7;
    --follow-click-bg: #fbb;
    --follow-click-border: #d77;
    --follow-click-hover: #d777;
    --follow-insert-bg: #bfb;
    --follow-insert-border: #7d7;
    --follow-insert-hover: #7d77;
    --follow-onclick-bg: #ffb;
    --follow-onclick-border: #dd7;
    --follow-onclick-hover: #dd77;
    --follow-media-bg: #bbf;
    --follow-media-border: #77d;
    --follow-media-hover: #77d7;
    --follow-image-bg: #fbf;
    --follow-image-border: #d7d;
    --follow-image-hover: #d7d7;
    --follow-other-bg: #ddd;
    --follow-other-border: #bbb;
    --follow-other-hover: #bbb7;
    --suggestions-border: #777;
    --suggestions-bg: #444;
    --suggestions-selected: #666;
    --suggestions-searchwords: #fcf;
    --suggestions-url: #bff;
    --suggestions-file: #ffb;
    --notification-border: #111;
    --notification-date: #aaa;
    --notification-permission: #aaa;
    --notification-error: #f33;
    --notification-warning: #fd0;
    --notification-info: #0cf;
    --notification-success: #3f3;
    --url-hover-fg: #000;
    --url-hover-bg: #fff9;
    --screenshot-highlight: #f90;
    /* special pages */
    --link-color: #0cf;
    --link-underline: #059;
    --scrollbar-bg: #444;
    --scrollbar-thumb: #bbb9;
    --button-disabled: #999;
    --code-fg: #fff;
    --code-bg: #111;
    --code-command: #f88;
    --placeholder-text: #ccc;
    --special-page-element-bg: #444;
    --special-page-element-border: #222;
    --input-unfocused: #666;
    --input-focused: #aaa;
    --download-progress-fg: #ccc;
    --download-progress-bg: #666;
    --helppage-h1: #d33;
    --helppage-h2: #f76;
    --helppage-h3: #fb9;
    --helppage-countable: #fc0;
    --helppage-range-compat: #fc0;
}


/*
 * GLOBAL
*/
body {color: var(--fg);font: 14px "DejaVu Sans Mono", "Courier", monospace;padding: 0;margin: 0;opacity: 0;}
