[Unit]
Description=Start kmonad

[Service]
Type=oneshot
ExecStart=kmonad /home/felix/dotfiles/.config/kmonad/thinkpad.kbd

[Install]
WantedBy=multi-user.target
